<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>Welcome</title>
</head>
<body>
<h1>MINOR PROJECT</h1>
<a href="/hc"><button type="button">Doctors and Hospitals</button></a>
<a href="/vets"><button type="button">Veterinarians</button></a>
<a href="/meds"><button type="button">Drug stores</button></a>


</body>
</html>